<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ManagerSite</title>
<link rel="stylesheet" href="../resources/css/manager_site_main.css">
</head>
<body>
<h1>Manager Site Here!</h1>
<div><a href="#" style="float:right;">user info</a></div>
<div id="sidebar">
<br>
<ul> 
  <li><a href="http://opencast.naver.com/IT741">menu1</a></li>
  <li><a href="http://opencast.naver.com/IT741">menu2</a>
    <ul>
       <li><a href="http://opencast.naver.com/IT741">sub menu1</a></li>
       <li><a href="http://opencast.naver.com/IT741">sub menu2</a></li>
       <li><a href="http://opencast.naver.com/IT741">sub menu3</a></li>
    </ul>
  </li>
  <li><a href="#">menu3</a></li>
</ul>
</div>
<div id="contents"> 
본문
</div>
</body>
</html>