@charset "UTF-8";

.container-new {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 40px;
    margin-left: 40px;
}

.right-0 {
	position: absolute;
	right: 0;
}

.right-side {
	padding-right: 50px;
	margin-right: 50px;
}

@media (min-width:576px) {
    .container-new, .right-side {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container-new, .right-side {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container-new, .right-side {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container-new, .right-side {
        max-width: 1140px
    }
}

.align-center {
	text-align: center;
}