@charset "UTF-8";
.slick-prev{
 		left: 0;
	z-index: 1;
}
.slick-next{
 		right: 0;
	z-index: 1;
}
.sales_graph {
	width: 450px;
	height: auto;
	text-align:center;
}
.sales_record {
	width: 450px;
	height: auto;
	margin:  auto;
}
.detail_size {
	padding-top: 30px;
	padding-bottom: 40px;
	border-bottom: 1px solid black;
}
.detail_size .title {
	float: left;
}
.detail_size .size {
	float: right;
}
.detail_price {
	margin-top: 20px;
	min-height: 44px;
}
.detail_price .title {
	float: left;
}
.detail_price .price{
	float: right;
}
.table_specification{
	width: 100%;
    margin-bottom: 1rem;
    background-color: transparent
}
.table_specification td,
.table_specification th {
	padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6
}
.graph_options{
	float: right;
}
.sales_detail{
	position: relative;
	text-align: center;
}