@charset "UTF-8";



#outline {
	width: 564px;
	height: 462px;
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%,-50%);
	box-shadow: 6px 10px 10px #e0e0e0;
	text-align: center;
}

p {
	text-align: center;
}

a{
	font-weight: bold;
	text-decoration: none;
	color: black;
	padding: 5px;
	/* box-shadow: 1px 1px 3px #e0e0e0; */
}

a:hover {
	font-size: 20px;
	color: grey;
	transition: 1s ease-out; 
}

#inputbox{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
}
