@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {
	font-family:나눔고딕, NanumGothic, NanumBarunGothic,'Nanum Gothic',arial,verdana,sans-serif;
	}
#sidebar{
	float: left;
	}
#contents{
	width : 800px;
	height : 500px;
	border:1px solid green;
	background-size: cover;
	background-repeat: no-repeat;
	}
ul {
	list-style:none;
	margin:0px; 
	padding:0px;
	position:relative;
	text-align:left;
	}
ul li a {
	text-decoration:none;
	font-size: 14px;
	display:block; 
	width:relative;
	height: 35px; 
	line-height:35px;
	}
li {
	width:80px;
	background-color:#9FC93C;
}
ul li:hover {
	background-color:#D4F4FA;
	}
ul ul {
	display:none;
	position:absolute; 
	left: 80px; 
	top: 35px;
	}
ul li:hover > ul {
	display:block;
	}
