@charset "UTF-8";
.slick-prev{
 		left: 0;
	z-index: 1;
}
.slick-next{
 		right: 0;
	z-index: 1;
}
.sales_graph {
	width: 450px;
	height: auto;
	text-align:center;
}
.sales_record {
	width: 450px;
	height: auto;
	margin:  auto;
}